<html lang='en'>

<head>
  <meta charset='utf-8' meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <link rel='stylesheet' href='../static/style.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='../static/client.js'></script>

</head>


<body onload='set_selection()'>


  <!-- 1 Heading !-->
  <div class='square-container'>

    <div class='square'>
      <div class='content'>
        <div class='title'>Information on Plastic Recycling </div>
      </div>
    </div>


    <!-- 2 Intro picture !-->
    <div class='square'>
      <div class='content'>
        <img src="https://raw.githubusercontent.com/piaoyapia/Plastic_RIC/master/app/view/square.JPG?fbclid=IwAR37wDdgmYbOGdW7oOYJPfdkFui5s-GMvQSamlXdkG31sxKW7Tfwh1FUzdc" ;></img>
      </div>
    </div>

    <!-- 3 Description of the site !-->
    <div class='square'>
      <div class='content'>
        <div class='floating_p'>
          In everyday life plastic often seems to be everywhere. This app is meant to give some information about the plastics we use on a daily basis. The Resin Identification Code (RIC) is a symbol that appears on products to indicate the raw material used to manufacture an item. The following classifier allows the identification of different types of plastics. It provides some information about the environ-mental problems associated with the classified resin.
        </div>
      </div>
    </div>

    <!-- 4 Take Photo !-->
    <div class='square'>
      <div class='content'>

        <div class='no-display'>
          <input id='file-input' class='no-display' type='file' name='file' accept='image/*' onchange='showPicked(this)'>
        </div>

        <button class='choose-file-button' type='button' onclick='showPicker()'>Take Photo
          <div class='upload-label'>
            <label id='upload-label'>Choose a picture</label>
          </div>
        </button>

      </div>
    </div>

    <!-- 5 Choosen Photo !-->
    <div class='square'>
      <div class='content'>
        <img id='image-picked' class='no-display' alt='Chosen Image'></img>
      </div>
    </div>

    <!-- 6 Analyze !-->
    <div class='square'>
      <div class='content'>
        <div class='analyze'>
          <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>
          </button>
        </div>
      </div>
    </div>

    <!-- 7 Show Analysis !----------------------------------------------------------->
    <div class='square'>
      <div class='content'>
        <div class='result-label'>
          <label id='result-label'></label>
        </div>
      </div>
    </div>



    <!-- Info-Blocks !--------------------------------------------------------------->

    <div class='info-box'>

      <!-- Illustrative picture !-->


      <div class='square'>
        <div class='content'>
          <img src="" class="illu" id="illu"></img>
        </div>
      </div>



      <div class='square'>
        <div class='content'>
          <div id='info_general_title' class='info-title'>
          </div>
        </div>
      </div>


      <div class='square'>
        <div class='content'>
          <div id='info_general_content' class='info-text'>
          </div>
        </div>
      </div>


      <div class='square'>
        <div class='content'>
          <div id='info_market_title' class='info-title'>
          </div>
        </div>
      </div>


      <div class='square'>
        <div class='content'>
          <div id='info_market_content' class='info-text'>
          </div>
        </div>
      </div>

      <div class='square'>
        <div class='content'>
          <div id='info_recycling_title' class='info-title'>
          </div>
        </div>
      </div>

      <div class='square'>
        <div class='content'>
          <div id='info_recycling_content' class='info-text'>
          </div>
        </div>
      </div>

      <div class='square'>
        <div class='content'>
          <div id='info_alternatives_title' class='info-title'>
          </div>
        </div>
      </div>

      <div class='square'>
        <div class='content'>
          <div id='info_alternatives_content' class='info-text'>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!----------Impressum --->
  <div class='square-impressum'>
    <div class='content'>
      <div class='floating_impressum'>
        <p><b>Impressum</b></br>
         This application is based on the open source concept: all data used to create this app is openly accessible to everyone. In this application, only the seven types of plastics classified according to ASTM International standard have been taken into account for classification. It is however conceivable to extend the recognition to other labels and trademarks, and, depending on the data set used to train the algorithm, even the recognition of specific objects and the like. The data set of the present application was created during excursions to shopping centers, hardware stores and in the daily routine. Since the data set was relatively small (~ 500 images), the user may excuse misclassifi-cation. However, you are welcome to participate in the project and take it to the next level - I'm looking forward to hear from you.
       <br>Pia Scharf, 2020.</p>
      </div>
    </div>
  </div>



</body>

</html>
