@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
    background-color: #fff;
    font-family:"Muli", serif;
}

.no-display {
    display: none;
}

.left {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: left;
    font-size: 14px;
}

.title {
    font-family: "Rock Salt", cursive;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    text-align: center;
    margin-top: 5em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

/* Ausgabeinfos, später an csv binden */

.info-general{
    padding: 40px;
    margin-top: 0.5em;
    background-color: #0073e6

}

.info-market{
    padding: 40px;
    margin-top: 0.5em;
    background-color: #4da6ff
}

.info-recycling{
    padding: 40px;
    margin-top: 0.5em;
    background-color:#b3d9ff
}

.info-alternatives{
    padding: 40px;
    margin-top: 0.5em;
    background-color: #e6f2ff
}

/* Ende */

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #ffbf00;
  font-size: 13px;
  color: #ffbf00;
}

button.analyze-button {
    font: "Muli", serif;
    width: 200px;
    height: 40px;
    border: solid 1px #ffbf00;
    border-radius: 2px;
    background-color: #ffbf00;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
}

tr:nth-child(even) {
  background: #d4d4d4;
}

th, td {
  padding: 10px 30px;
}

th {
  border-bottom: 1px solid #d4d4d4;
}
