@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  background-color: #fff;
  font-family: "Muli", Arial serif;
  width: 1500px;
/* here: width defines, after how many segments it should break. (1500= 2 blocks)
Later that can be changed with css media query.
(To make it better suitable for all devices.) */
  height: 4000px;
}

.no-display {
  display: none;
  padding: 50px;
  margin: 0em;
  height: auto;
  background-color: #e6f2ff;
}

.content {
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 200px;
  font-size: 30px;
  align-items: left;
}

.title {
  font-family: "Rock Salt", Arial, cursive;
  font-weight: bold;
  text-align: left;
  font-size: 48px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #594615;
}

.analyze {
  margin-top: 0em;
  float: left;
}

.upload-label {
  padding: 50px;
  font-size: 22px;
}

.result-label {
  font-family: "Rock Salt", Arial, cursive;
  color: #ABCBED;
  width: 400px;
  height: 400px;
  margin-top: 0em;
  float: left;
  padding: 100px;
  font-size: 40px;
}

/* Image-Container */
img {
  float: left;
}

.image_banner {
  height: 600px;
  float: left;
}

.floating_p {
  float: left;
  padding: 50px;
  width: 500px;
  height: 500px;
  background-color: #F3E13C;
}

.text_banner {
  padding: 30px;
  width: 600px;
  text-align: left;
  background-color: #D6AE16;
}

/* Ausgabeinfos, später an csv binden */
.info-box {
  height: 600px;
  float: left;
}

.info-title {
  margin: 0px;
  font-family: "Rock Salt", Arial, cursive;
  font-weight: bold;
  width: 500px;
  height: 500px;
  padding: 50px;
  float: left;
}

.info-text {
  width: 500px;
  height: 500px;
  padding: 50px;
  float: left;
}

/* Ende */
button.choose-file-button {
  font: "Muli", Arial, serif;
  width: 600px;
  height: 600px;
  background-color: #ffffff;
  border: solid 1px #8A6117;
  font-size: 40px;
  color: #8A6117;
  float: left;
}

button.analyze-button {
  font: "Muli", Arial, serif;
  width: 600px;
  height: 600px;
  border: solid 1px #D6AE16;
  background-color: #D6AE16;
  font-size: 40px;
  color: #ffffff;
}

button:focus {
  outline: 0;
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
}

tr:nth-child(even) {
  background: #d4d4d4;
}

th, td {
  padding: 10px 30px;
}

th {
  border-bottom: 1px solid #d4d4d4;
}
